* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

header {
    height: 100px;
    padding: 20px;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-nav {
    display: flex;
    align-items: center;
}

nav img {
    width: 50px;
    margin-right: 20px;
}

nav h1 {
    font-size: 40px;
}

nav button {
    font-size: 20px;
    padding: 3px 30px;
    font-weight: bold;
}

footer {
    height: 100px;
    background-color: #fff;
}

#grid {
    margin: 80px auto;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

#grid .cell.clicked {
    background-color: lightskyblue;
}